.footer {
    background-color:#FF1F66;
    color: #fff; 
    padding: 20px;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #fff; 
    margin: 20px 80px;
  }
  
  .social-icons img {
    width: 60px; 
    height: auto;
  }
  